<div class="list row">
  <div class="col-md-12">
    <h4>Thoughts</h4>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
          Search
        </button>
      </div>
    </div>
</div>
<div class="col-md-12">
    <infinite-scroll style="height: 600px; overflow-y: auto">
        <ul class="list-group">
            <div *ngFor="let thought of thoughts; let i = index">
                    <div *ngIf="i<5">
                        <li class="list-group-item">
                            <label><strong>User:</strong></label> {{ thought.user }}
                        </li>
                        <li class="list-group-item">
                            <label><strong>Title:</strong></label> {{ thought.title }}
                        </li>
                        <li class="list-group-item">
                            <label><strong>Description</strong></label> {{ thought.description }}
                        </li>
                        <br>
                    </div>
            </div>
    		</ul>
    </infinite-scroll>
</div>
<!-- <div class="col-md-6">
    <div *ngIf="currentThought">
      <h4>Thought</h4>
    <div>
        <label><strong>Title:</strong></label> {{ currentThought.title }}
    </div>
        <div>
            <label><strong>Description:</strong></label>
                {{ currentThought.description }}
        </div>
    <div>
        <label><strong>User:</strong></label>
            {{ currentThought.user }}
    </div>
        <div *ngIf="!currentThought">
            <br />
            <p>Please click on a Thought...</p>
        </div>
    </div>
</div> -->