<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="user">User</label>
                <input type="text" class="form-control" id="user" required [(ngModel)]="thought.user" name="user" autocomplete="off" autofocus/>
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="thought.title" name="title" autocomplete="off" autofocus/>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" required [(ngModel)]="thought.description"
                    name="description" autocomplete="false"/>
            </div>

            <button (click)="saveThought()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4 style="padding: 2rem;">You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newThought()">Add</button>
            <button class="btn btn-success" routerLink="" style="float: right;">Return To Main Page</button>
        </div>
    </div>
</div>
